
body {
  font-family: "Helvetica Neue";
}

h3 {}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#timers-container-left, #timers-container-right {
  justify-content: space-around;
}

#scene {
  position: relative;
}

.scene {

}

.button {
  top: 200px;
}

.icon {
  position: absolute;
}

.right {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.top {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.title {
  margin: 0px;
}

.characters {
  position: absolute;
}

.speech {
  position: absolute;
}

h3 {
  margin: 3px;
}

.knocked-chair {
  -webkit-transform: rotate(97deg);
  -moz-transform: rotate(97deg);
  -ms-transform: rotate(97deg);
  -o-transform: rotate(97deg);
  transform: rotate(97deg);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}